html {
  height: 100%;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.stheadnav {
  font-size: 11px !important;
  color: black !important;
}

.black{
  color: #000 !important;
  font-weight:bold !important;
}
.hoverred:hover{
  color:#E9002F !important;
  transition: 0.5s !important;
  text-decoration:none !important;
}
.red{
  color:#E9002F;
}
.patientRequestText{
  color: #E9002F;
  font-weight: 700 !important;
}
#basic-nav-dropdown{
  color: #000 !important;
  font-weight:bold !important;
}
#basic-nav-dropdown:hover{
  color:#E9002F !important;
  transition: 0.5s !important;
  text-decoration:none !important;
}
.pinkBorder{
  border-top: 2px solid #E9002F ;
  width: 80px;
}
.posAbsolute{
  position: absolute !important;
}
.modalTransparentBack{
  background-color: transparent !important;
}
.redBack{
  background-color:#E9002F !important;

}
.transparent{
  opacity: 50 !important;
  background-color:transparent !important;
}